       .signup-form {
            position: relative;
            width: 350px;
            margin: 0 auto;
            padding: 30px 0;
        }

        .task-table {
            padding: 15px 0;
            margin: 0 auto;
            width: 60%;
        }

        .form-right {
            float: right;
            margin-right: 50px;
        }

        .form-left {
            float: left;
            margin-left: 50px;
        }

        .form-control:focus {
            border-color: #5cb85c;
        }
        .form-control, .btn {
            border-radius: 3px;
        }
        .signup-form h2 {
            color: #636363;
            margin: 0 0 15px;
            position: relative;
            text-align: center;
        }
        .signup-form .hint-text {
            color: #999;
            margin-bottom: 30px;
            text-align: center;
       }

       .title-form-text {
            color: #999;
            text-align: center;
       }

       .text-left {
            text-align: left;
       }

       .link {
            text-decoration: underline;
       }

       .signup-form .form-group {
          margin-bottom: 20px;
       }
       .signup-form input[type="checkbox"] {
          margin-top: 3px;
       }
       .signup-form .btn {
            font-size: 16px;
            font-weight: bold;
            min-width: 140px;
            outline: none !important;
        }

        #img-result {
            padding: 0;
            width: 390px;
            height: 254px;
            border-radius: 10px;
            border: solid 1px #999;
            margin: 0 auto;
        }

        #img-result img {
            width: 390px;
            height: 254px;
            border-radius: 10px;
        }
